<nav class="navbar navbar-white navbar-static-top navbar-expand-md">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
            <li class='nav-item'><%= link_to 'Нийтлэлүүд', articles_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Шинэ', new_article_path, class: 'nav-link' %></li>
            </ul>
        </div>
    </div>
</nav>
